<table class="table">
    <thead>
        <tr>
            @foreach (var title in tableTitles)
            {
                <td>@title</td>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < tableRows.GetLength(0); i++)
        {
            <tr>

                @for (int j = 0; j < tableRows.GetLength(1); j++)
                {
                    <td>@tableRows[i, j]</td>
                }

            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public string[,] tableRows { get; set; } = { { "one", "two" }, { "three", "four" }, { "five", "six" } };

    [Parameter]
    public string[] tableTitles { get; set; } = { "Default" };







}