@inject HttpClient Http


@page "/couple"

<h3>Расписание пар</h3>

@if (data == null)
{
    <p>Loading...</p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Номер пары</th>
                <th>Время занятия</th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < data.Length; index++)
            {
                <tr>
                    <td>@index</td>
                    <td>@data[index].coupleNum</td>
                    <td>@data[index].beginTime - @data[index].endTime</td>
                </tr>
            }
        </tbody>
    </table>
}


    @code {
private CoupleType[] data;

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<CoupleType[]>("sample-data/couples.json");
    }

    public class CoupleType
    {

        public string id { get; set; }

        public int coupleNum { get; set; }

        public string beginTime { get; set; }

        public string endTime { get; set; }

    }
    }
