@inject HttpClient Http


@page "/group"

<h3>Список групп</h3>

@if (data == null)
{
    <p>Loading...</p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Название группы</th>
                <th>Число студентов</th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < data.Length; index++)
            {
                <tr>
                    <td>@index</td>
                    <td>@data[index].title</td>
                    <td>@data[index].numOfStudents</td>
                </tr>
            }
        </tbody>
    </table>
  }


    @code {
private GroupType[] data;

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<GroupType[]>("sample-data/groups.json");
    }

    public class GroupType
    {

        public string id { get; set; }

        public string title { get; set; }

        public int numOfStudents { get; set; }

    }
    }
