@inject HttpClient Http


@page "/lecturer"

<h3>Список преподавателей</h3>

@if (data == null) {
    <p>Loading...</p>
}
else
{

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in data)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.surname</td>
                <td>@item.patronymic</td>
            </tr>
        }
    </tbody>
</table>
}


@code {
    private List<Lecturer> data;


    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<List<Lecturer>>("Lecturers/all");
    }

    public class Lecturer
    {
        public string id { get; set; }

        public string name { get; set; }

        public string surname { get; set; }

        public string patronymic { get; set; }
    }
}
